@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;

}
:root{
    --white-clr:#fff;
    --light-black:#333;
    --black-clr:#000;
    --primary-clr:#e6303d;
    --secondary-clr:#eee;
    --tag-clr:#7cc576;
}

/* basic styling */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 99%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.section{
    padding-top: 4rem;
}

/* navbar styling */
.famis{
    height: 4rem;
    font-size: 1px;
    display: flex;
}
header{
    background: var(--white-clr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0px 5px 14xp .75px rgba(196, 1, 8, 0.5);
}
.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--light-black);
} 
.icon{
    font-size: .9rem;
    color: var(--light-black);
    background: var(--secondary-clr);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.icon:hover{
    background: var(--secondary-clr);
}

.link{
    font-size: .95rem;
    color: var(--light-black);
    text-transform: uppercase;
    font-weight: 500;
}
span,
.link:hover ,a:hover{
    color: var(--primary-clr);
}
.link-active ,.icon-active{
    color: var(--primary-clr);
}
.navbar{
    height: 12nh;
    justify-content: space-between;
}
.navlist{
    gap: 2.5rem;
}
.nav-icons{
    gap: .8rem;
}
.hamburger{
    font-size: 1.7rem;
    color: var(--primary-clr);
    display: none;
}
    /* section-styling */
    .hero{
        height: 110vh;
        background-image: url(as.jpg);
        background-position: center ;
        background-size: cover;
        background-repeat: no-repeat;
      
    }
    .hero-content{
        padding-left: 60%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
    h3{
        font-size: 1.8rerm;
        font-weight: 500;
        line-height: 3.7rem;
    }
    h1{
        font-size: 4rem;
        line-height: 4rem;
        font-weight: 600;
        color: var(--light-black);
    }
    h4{
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 3.5rem;
        margin-bottom: 1rem;
    }
    button{
        font-weight: 600;
        font-size: .9rem;
        padding: .8rem 2.2rem;
        text-transform: uppercase;
        color: var(--white-clr);
        border: none;
        background: var(--primary-clr);
        transition: all .3s ease-in-out;
    }
    button:hover{
        background: var(--light-black);
    }
    .category-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1.7rem;
    }
    .category:nth-child(1),
    .category:nth-child(4){
        grid-row: 1 /3;
    }
    .category:nth-child(2){
        grid-row: 1/2;
    }
    .category{
        position: relative;
        overflow: hidden;
    }
    .category button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        background: var(--white-clr);
        color: var(--black-clr);
        z-index: 3;
        transition: all .3s ease-in-out;
    }
   
    .category button:hover{
        background: var(--primary-clr);
        color: var(--white-clr);
    }
    .category:hover img{
        transform:scale(1.1)
    }
    .category::before{
        content: '';
        position: absolute;
        background: var(--white-clr);
        width: 0;
        height: 100%;
        opacity: .2;
        z-index: 2;
    }
    .category:hover::before{
        width: 100%;
    }
    h2{
        font-size: 2rem;
        line-height: 4rem;
    }